.center {
    text-align: center;
}

.section {
    padding: 0 10px;
    color: #445;
}

/* Arrow */

.iSlider-arrow,.iSlider-arrow-prev,.iSlider-white {
    position: absolute;
    width: 3em;
    height: 3em;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: 0 auto;
    border-top: 2px solid #31c7fb;
    border-right: 2px solid #31c7fb;
    z-index: 10000;
    opacity: 0.8;
    -webkit-animation: nextPage 1.2s linear infinite;
}
.iSlider-white {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

.iSlider-arrow-prev{
    bottom: 1%;
    -webkit-animation: prevPage 1.2s linear infinite;
}

@-webkit-keyframes nextPage {
    0% {
        -webkit-transform: translateY(40px) rotate(-45deg);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateY(20px) rotate(-45deg);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateY(10px) rotate(-45deg);
        opacity: 0;
    }
}

@-webkit-keyframes prevPage {
    0% {
        -webkit-transform: translateY(-40px) rotate(135deg);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateY(-20px) rotate(135deg);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translateY(-10px) rotate(135deg);
        opacity: 0;
    }
}
.media-wrap {
    overflow: hidden;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10000;
    width: 6.5em;
    height: 6.5em;
    font-size: 16px;
}

.media-wrap span {
    float: left;
    height: 4em;
    width: 4em;
    line-height: 3rem;
    color: #fff;
    font-size: 1em;
}

.media-wrap i {
    width: 2.5em;
    height: 2.5em;
}

.music-btn,.music-btn-white {
    float: right;
    width: 1.8rem;
    height: 1.8rem;
    background: url('../img/music-icon.png');
    background-size: cover;
}
.music-btn-white {
    background: url('../img/audio.jpg');
    background-size: cover;
}
.music-btn.on {
    -webkit-animation: reverseRotataZ 1.2s linear infinite;
}

@-webkit-keyframes reverseRotataZ {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
    }
}

#musicBtnTxt{
  color:#455;
  margin-top:-10px;
}

.white-font {
    color: #fff;
}

.white-font-blue{
    color:#05d2f6;
}

.dark-font{
    color:#334;
}


.title{
    font-size:2em;
    font-family: "SentyZHAO";
    padding-bottom: 20px;
    padding-top:10px;
}

.descTitle{
    font-size:1.3em;
    font-family: "SentyZHAO";
}

.bold{
    font-weight: bold;
}

p{
    font-size: 1.1em;
}

#fp-nav ul li a span,.fp-slidesNav ul li a span {
    background: #fff
}

#fp-nav.right {
    right: 0px;
}

.background-blue{
    background: url('../img/background_blue.png');
}
.background-deepblue{
    background: url('../img/background_deepblue.png');
}

.background-orange{
    background: url('../img/background_orange.png');
}

.background-purple{
    background: url('../img/background_purple.png');
}

.background-lightBlue{
    background: url('../img/background.png');
}

.background-green{
    background: url('../img/background_green.png');
}
.background-deepGreen{
    background: url('../img/background_deepGreen.png');
}

.background-yellow{
    background: url('../img/background_yellow.png');
}

.chart{
    width:100%;
    height:60%;
}

.hidden{
    display: none;
}

.white-font-red{
    color:#eb0c2b;
}