@font-face {
    font-family: "SentyZHAO";
    src: url("SentyZHAO.eot"); /* IE9 */
    src: url("SentyZHAO.ttf") format("truetype"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


